<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/createQuiz.css"/>
</head>

<body>
  <nav id = "navigation-bar">
    <span>QUIZZLY</span>
    <span>Your Quizzes</span>
  </nav>
  <h1 id="intro-line">
    Hi Peter!
  </h1>
  <div class="make-quiz-header">
    <h3>Make Your Own Quiz</h3>
    <h5>Title of Quiz</h5>
    <form class="quiz-title">
      <input type="text">
    </form>
    <h5>Description of Quiz</h5>
    <form class="quiz-description">
      <input type="text">
    </form>
    <form id="public-or-private">
      <input type="checkbox">
      <label for="private">Private?</label>
      <input type="checkbox">
      <label for="public">Public?</label>
    </form>
    <form>
      <button id="add-question" type="submit">Add Quiz Question</button>
    </form>
  </div>
  <div class="added-questions">

  </div>
</body>
</html>
