#intro-line {
  margin: 1em;
  font-size: 2em;
}

h5 {
  color: white;
}

#public-or-private {
  margin: 1em;
}

.quiz-title {
  height: 2em;
}

.quiz-description {
  overflow-wrap: break-word;
}

#new-question {
  background-color: #CA7900;
  color: white;
  border-width: 0px;
  padding: 1em;
  margin: 1em;
}

.make-quiz-header {
  background-color: #F99900;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0em 15em 0em 15em;
}

.added-questions {
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  margin: 1em;
}

.option-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

#build-quiz-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#private-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#create-quiz {
  margin: 1em;
}
