#intro-line {
  margin: 1em;
  font-size: 2em;
}

#add-question {
  background-color: #CA7900;
  color: white;
  border-width: 0px;
}

.make-quiz-header {
  background-color: #F99900;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

