// See: https://sass-lang.com/

body,
html {
 margin: 0px;
}

#navigation-bar {
  background-color: #FF9900;
  margin: 0px;
  color: white;
  font-size: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.75em;
}
